!!!
%html
  %head
    %title Fitness Log

      -# A seperate key is needed for each domain! Get a matching one at http://code.google.com/apis/maps/signup.html      -# For localhost, it is: ABQIAAAAnfs7bKE82qgb3Zc2YyS-oBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSySz_REpPq-4WZA27OwgbtyR3VcA
      <script type="text/javascript">var key="ABQIAAAAVbIIqIQ3aKkx73Xs97N2PhQ7RuIGA_kNsIkLEGEIh5rsWKDg4hTrxvFQ_9I-hvOkPv4_Ga-_-4vcjg";</script>
    <script type="text/javascript" src="/gpx/GPX2GM.js"></script>
  %body
    %div{:class=> "left", :style => "float:left;width:500px;padding:10px;border: 1px grey solid;"}
      %a{:href=>"/list"} Return
      %br
      &= "Distance: " + @gpx.getTotalDistanceMeters.to_s + " m"
      %br/
      &= "Duration: " + (@gpx.getDurationMinutes.round).to_s + " min"
      %br/
      &= "Average Speed: " + (sprintf "%.2f", @gpx.getAverageSpeed).to_s + " km/h"
      %br/
      &= "Maximum Speed: " + (@gpx.getMaxSpeed).to_s + " km/h"
      %br/
      &= "Minimum Elevation: " + (@gpx.getMinElevation).to_s + " m"
      %br/
      &= "Maximum Elevation: " + (@gpx.getMaxElevation).to_s + " m (-> Difference: " + (@gpx.getMaxElevation - @gpx.getMinElevation).to_s + " m)"
      %br/
      &= "Minimum Heartrate: " + (@gpx.getMinHR).to_s + " bpm"
      %br/
      &= "Maximum Heartrate: " + (@gpx.getMaxHR).to_s + " bpm"	

      = '<div class="gpxview:/gpx/' + @filename.to_s + '" style="width:500px;height:300px"><noscript>Zum Anzeigen der Karte wird Javascript benötigt.</noscript></div>'
    %div{:class=>"right", :style => "margin-left:530px;padding-right:20px;border:1px silver solid;"}
      = '<img src="' + @gpx.getSpeedGraph + '"/>'
      %br/
      = '<img src="' + @gpx.getElevationGraph + '"/>'
      %br/
      = '<img src="' + @gpx.getHeartrateGraph + '"/>'
 
